@{
    ViewBag.Title = "Memberships";
}
<h1>ViewBag.Title</h1>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>This is the membership page</h2>
    </div>
</body>
</html>
